:root {
    --nav-sizing: 1.5em;
    --nav-text-size: .7em;
    --nav-text-color: white;
    --icon-size: 20px;
    --font-size-paragraph: 16px;
    --font-size-heading: 23px;
    --font-color-heading: #494949;
}

body{
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family:Arial, Helvetica, sans-serif;
}

/* #region NAVBAR */

nav {
    background-color: orange;

}

ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding: 0;
    margin: 0;
    height: 3.5em;
    justify-content: space-between;
    align-items: center;
}

nav ul li {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5em;

    &:hover {
        background-color: orangered;
    }
}

li img {
    width: var(--nav-sizing);
    height: var(--nav-sizing);
}

li span {
    font-size: var(--nav-text-size);
    color: var(--nav-text-color);
}

li img[alt="funda-logo"] {
    width: 110px;
    height: 50px;
    object-fit: cover;
}

/* #endregion NAVBAR */

/* #region IMAGE STACKS */
.image-stacks__main {
    position: relative;
    display: inline-block;
}

.image-stacks__main img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.icon-container .fa-share-alt {
    position: absolute;
    left: 80%;
    top: 10%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: var(--icon-size);

    &:hover {
        color: darkblue;
    }
}

.icon-container .fa-heart-o {
    position: absolute;
    left: 90%;
    top: 10%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: var(--icon-size);
}

.image-stacks__container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.image-stacks__photo, .image-stacks__video {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 5em;
    object-fit: cover;
    box-sizing: border-box;
    flex: 1 0 20vw; 
    max-width: 100%;
    padding: 7px 8px 7px 8px;
    margin: 0 0 1em 0;
}

.image-stacks__photo img, .image-stacks__video img {
    width: 100%;
    height: 4.5em;
    object-fit: cover;
    border-radius: 5px;
}

.image-stacks__video .fa-play-circle, .image-stacks__photo .fa-file-image-o {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: white;
    size: var(--icon-size);
}

.image-stacks__photo span, .image-stacks__video span {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #39aeed;
    font-size: var(--font-size-paragraph);
    padding: 5px 0 0 0;
}
/* #endregion IMAGE STACKS */

h1 {
    font-size: var(--font-size-heading);
    color: var(--font-color-heading);
}

.object-primary__details {
    position: relative;
    display: flex; 
    flex-direction: column;
    border-top: 1px lightgray solid;
    margin: 1em 0 0 .7em;
}

.object-primary__details .map-button {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 5em;
    height: 6em;
    border-radius: 15px;
    background-color: orange;
    top: 40%;
    left: 80%;
    gap: 5px;
}

.object-primary__details .map-button__icon {
    height: 4em;
    width: 4em;
    border-radius: 10px;
    overflow: hidden;
}

.object-primary__details .map-button img {
    display: block;
    object-fit: cover;
    border-radius: 10px;
    transition-duration: .5s;

    &:hover {
        transform: scale(1.5);
    }
}

.object-primary__details .map-button span {
    font-size: 10px;
}